body {
	background-image: url(image/baggrund.png);
}
h1 {
	font-family: "DejaVu Sans", sans, sans-serif;
}

.box {
	background: #FFB954;
	color: #FFF;
	margin: 0.5em;
	padding: 0.5em;
	font-family: Arial, "Liberation Sans", sans, sans-serif;
}
.box a {
	font-style: normal;
	text-decoration: none;
}
.box > a:link {
	color: #FD1;
}
.box > a:hover {
	color: #FE2;
}
.box > a:visited {
	color: #EC0;
}

.fixed { position: fixed; margin: 0; padding: 0; bottom: 0; }
.fill { box-sizing: border-box; width: 100%; height: 100%; }

.margin-8 { margin: 8px; }
.margin-16-top { margin-top: 16px; }

.padding-none { padding: 0; }
.padding-8 { padding: 16px 8px; }
.padding-left { padding-left: 64px!important; }

.flex { display: -webkit-flex; display: flex; }
.flex-stretch { -webkit-align-content: stretch; align-content: stretch; }
.flex-center { -webkit-justify-content: center; justify-content: center; }
.flex-end { -webkit-justify-content: flex-end; justify-content: flex-end; }
.flex-wrap { -webkit-flex-wrap: wrap; flex-wrap: wrap; min-width: 200px; }
.flex-column { -webkit-flex-direction: column; flex-direction: column; }
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }

.quiz-button-container { display: -webkit-flex; display: flex; flex-wrap: wrap; box-sizing: border-box; width: 100%; height: 100%; }
.quiz-button {}

.middle { vertical-align: middle; }

.middle-left {
	vertical-align: middle;
	float: left;
}

.linkbutton {
	padding: 0.2em;
	margin: 0;
	width: 100px;
	border-radius: 3px;

	color: #000;
	background: #DDD;
	font-weight: bold;
}
a.linkbutton:link {
	color: #000;
}
a.linkbutton:hover {
	background: #F0F0F0;
	color: #000;
}
a.linkbutton:visited {
	color: #000;
}
a.linkbutton:active {
	background: #AAA;
	color: #000;
}

.question .option {
	box-sizing: border-box;
	padding: inherit;
	display: block;
	float: left;
	width: 25%;
	overflow: hidden;
	transition: background-color 1s;
}

div ~ h4 {
	padding-top: 3ex;
}

#container {
	width: 100%;
	max-width: 65em;
	margin: auto;
	margin-top: 3em;
}
#copyright {
	font-size: smaller;
}
#mainheader {
	overflow: hidden;
	margin: auto;
	padding: auto;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navbar li {
	float: left;
}
.navbar li a {
	display: block;
	text-align: center;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
